@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

:root {
    --background: #0a0a0c;
    --foreground: #ffffff;
}

@layer base {
    * {
        @apply border-white/10;
    }

    body {
        @apply bg-background text-foreground;
    }
}